@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);

  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --color-card: #ffffff;
  --color-card-foreground: #0f172a;
  
  --radius-2xl: 1rem;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-sans), sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
